body
{
    background-color: #fcfcfc;
}

#logoDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

#search-field {
    width: 450px;
    margin-left: -100px;
}

.search-buttons {
    margin-left: 5px;
}

.nav-bar ul, .footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar li, .footer li {
    float: left;
}

.nav-bar li a , .footer li a{
    display: block;
    padding: 8px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.nav-bar li a:hover {
    background-color: #555;
    color: white;
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    background-color: rgb(212, 212, 212);
    height: 35px;
}

.left-foot {
    position: absolute;
    left: 5px;
    bottom: 5px;
    float: left;
}

.right-foot {
    position: absolute;
    right: 5px;
    bottom: 5px;
    float: left;
}